<!-- <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile
      >
      {{user.first_name}}
      <img [src]="user.avatar">
    </mat-grid-tile>
  </mat-grid-list> -->
<!-- <div  *ngFor="let user of users.data">
    <mat-card class="example-card" >
        <mat-card-header>
          <div mat-card-avatar></div>
          <mat-card-title>{{user.first_name}}</mat-card-title>
          <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image  src="{{user.avatar}}">
        <mat-card-content>
        
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
</div>
   -->